FILEPATH: /c:/Users/aslam/Desktop/DEnz/aegis/server/modules/report/templates/10_ownership.ejs
<div class="ownership-privileges">
    <h1>Ownership Privileges</h1>
    <p>
        These functions can be dangerous. Please note that abuse can lead to financial loss.
        We have a guide where you can learn more about these Functions.
    </p>
    <div>
        <h2>Minting Privileges</h2>
        <p>
            Minting is the process of creating new tokens. This is usually done by the contract
            owner, and the newly minted tokens are added to the owner's balance. Minting is
            usually done to increase the total supply of a cryptocurrency or token.
        </p>
        <table>
            <tr>
                <th><%= security.is_mintable ? "Contract owner can mint new tokens" : "Contract owner cannot mint new tokens" %></th>
                <th><%= security.is_mintable ? "❌ The owner can mint new tokens" : "✅ The owner cannot mint new tokens" %></th>
            </tr>
            <tr>
                <td>Description</td>
                <td><%= security.is_mintable ? "The owner can mint new tokens if they want" : "The owner cannot mint new tokens" %></td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Blacklist addresses</h2>
        <p>
            Blacklisting addresses in smart contracts is the process of adding a
            certain address to a blacklist, effectively preventing them from accessing
            or participating in certain functionalities or transactions within the
            contract. This can be useful in preventing fraudulent or malicious
            activities, such as hacking attempts or money laundering.
        </p>
        <table>
            <tr>
                <th><%= rugpull.blacklist ? "Contract owner can blacklist addresses" : "Contract owner cannot blacklist addresses" %></th>
                <th><%= rugpull.blacklist ? "❌ The owner can blacklist addresses" : "✅ The owner cannot blacklist addresses" %></th>
            </tr>
            <tr>
                <td>Description</td>
                <td><%= rugpull.blacklist ? "The owner can blacklist addresses if they want" : "The owner cannot blacklist addresses" %></td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Fees and tax</h2>
        <p>
            In some smart contracts, the owner or creator of the contract can set
            fees for certain actions or operations within the contract. These fees can
            be used to cover the cost of running the contract, such as paying for gas
            fees or compensating the contract's owner for their time and effort in
            developing and maintaining the contract.
        </p>
        <table>
            <tr>
                <th><%= security.buy_tax ? "There is a buy tax of " + security.buy_tax + "%" : "NA" %></th>
                <th><%= security.sell_tax ? "There is a sell tax of " + security.sell_tax + "%" : "NA" %></th>
            </tr>
            <tr>
                <td>Description</td>
                <td>There is a tax to the contract owner when you buy or sell the token</td>
            </tr>
        </table>
    </div>

</div>
