<!-- FILEPATH: /c:/Users/aslam/Desktop/DEnz/aegis/server/modules/report/templates/12_findings.ejs -->
<div> 
    <h1>Findings</h1>
    <div style="page-break-inside: avoid;">
        <% for (let i = 0; i < findings.length; i++) { %>
            <div>
                <div style="font-size: 24px; font-weight: bold;">
                    <%= "#"+ (i+1) %> <%= findings[i].title %>
                </div>
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Severity</th>
                        <th>Mitigation</th>
                    </tr>
                    <tr>
                        <td><%= findings[i].title %></td>
                        <td><%= findings[i].severity %></td>
                        <td><p><%= findings[i].mitigation %></p></td>
                    </tr>
                </table>
            </div>
        <% } %>
    </div>
</div>