<style>
    .data-container td {
      color: white;
    }
    .security_info_title {
      font-size: 16px;
      font-weight: 800;
    }
  
    .files-table-head {
      display: flex;
      gap: 10px;
      justify-content: space-evenly;
      background-color: black;
      border-radius: 6px;
      background: #303030;
    }
  
    .files-table-head h3 {
      font-size: 16px;
    }
  
    .files-table-head h3:last-child {
      font-weight: 300;
      color: #58ff5e;
    }
  
    .files-table-value {
      display: flex;
      gap: 10px;
      justify-content: center;
      border-bottom-left-radius: 31px;
      border-bottom-right-radius: 31px;
      background: #fff;
    }
  
    .files-table-value h3 {
      color: black;
      padding: 10px 30px;
      min-height: 100px;
      height: 100%;
      margin: 0;
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
  
    .files-table-value h3:last-child {
      border-left: 1px solid black;
      font-weight: 400;
      width: 100%;
    }
    .imported-package {
      display: flex;
    }
    .imported-package-text {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0 0px;
    }
    .imported-package-subdiv {
      border-radius: 20px;
      padding: auto 20px;
      background: #2c2c2c;
      display: flex;
      margin-top: 20px;
      gap: 10px;
      flex-direction: column;
      width: 50%;
      margin: 30px 0 0 20px;
      justify-content: center;
      font-weight: 800;
    }
    .imported-package-subdiv ul {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .imported-package-subdiv li {
      margin-bottom: 5px;
    }
  </style>
  
  <div>

    <div id="data">
      <div style="margin-top: 70px;">
        <div>
          <div>
            <h2>Listing</h2>
            <p>
              Listings on multiple decentralized exchanges (DEX) with good amount
              of liquidity is a good sign
            </p>
          </div>
          <div
            class="files-table-con"
            style="padding: 20px; justify-content: space-between !important"
          >
            <div class="files-table-head">
              <h3>Listing</h3>
              <h3 class="textFont">
                <%= security.is_in_dex=="1"?" âœ… The contract is listed in Dex ":" âš ï¸ The contract is not listed in Dex "%>
              </h3>
            </div>
            <div class="files-table-value">
              <h3 class="textFont">Description</h3>
              <h3 class="textFont">
                <%= security.is_in_dex=="1"?" You can swap tokens on dex":" You cant swap tokens on dex "%>
              </h3>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h2>Opensource</h2>
            <p>
              Open source contract is contract with source code that anyone can
              inspect, modify, and enhance.
            </p>
          </div>
          <div class="files-table-con" style="padding: 20px">
            <div class="files-table-head">
              <h3>Opensource</h3>
              <h3 class="textFont">
                <%= security.is_open_source=="1"?" âœ… The contract is Open Source ":" âš ï¸ The contract is not Open Source "%>
              </h3>
            </div>
            <div class="files-table-value">
              <h3 class="textFont">Description</h3>
              <h3 class="textFont">
                <%= security.is_open_source=="1"?" Code can be read and edited by anyone ":" Code is private"%>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- <div>
                <h2>Liquidity Pool</h2>
                    <table>
                        <tr>
                            <th>Check</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>LP supply</td>
                            <td><%= security.lp_total_supply %></td>
                        </tr>
                        <tr>
                            <td>LP Holder Count</td>
                            <td><%= security.lp_holder_count %></td>
                        </tr>
                        <tr>
                            <td>Pencentage owned by creator</td>
                            <td><%= security.creator_percent %></td>
                        </tr>
                        <tr>
                            <td>Creator Balance</td>
                            <td><%= security.creator_balance %></td>
                        </tr>
                        <tr>
                            <td>Creator address</td>
                            <td><%= security.creator_address %></td>
                        </tr>
                        <tr>
                        <td>Holders</td>
                        <td><%= security.holder_count %></td>
                    </tr>
                </table>
            </div> -->
    </div>
  
    <!-- <div>
                <div>
                    <h2>Public Functions</h2>
                    <table>
                        <tr>
                            <th>Function Name</th>
                            <th>Visibility</th>
                            <th>Mutability</th>
                        </tr>
                        <% for (let i = 0; i < functions.tableRows.length; i++) { %>
                            <% if(functions.tableRows[i].type=="func" && functions.tableRows[i].spec!="Internal ðŸ”’"){ %>
                            <tr>
                                <td><%= functions.tableRows[i].name %></td>
                                <td><%= functions.tableRows[i].spec.split(' ')[0] %></td>
                                <td><%= functions.tableRows[i].mutating ? "âš ï¸" : 'False' %></td>
                            </tr>
                            <% } %>
                        <% } %>
                    </table>
                </div>
            </div> -->
    <!-- <div>
                <h2>Contracts used</h2>
                <ul>
                    <% for (let i = 0; i < functions.tableRows.length; i++) { %>
                        <% if(functions.tableRows[i].type=="contract" ){ %>
                            <li><%= functions.tableRows[i].name %></li>
                        <% } %>
                    <% } %>
                </ul>
            </div> -->
  </div>