<div id="data-container">
    <h1>Security Data</h1>
    <div id="data">
        <table>
            <tr>
                <th>Check</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Buy Tax</td>
                <td>
                    <%= security.buy_tax %>
                </td>
            </tr>
            <tr>
                <td>Sell Tax</td>
                <td>
                    <%= security.sell_tax %>
                </td>
            </tr>
            <tr>
                <td>LP supply</td>
                <td>
                    <%= security.lp_total_supply %>
                </td>
            </tr>
            <tr>
                <td>Honeypot</td>
                <td>
                    <%= security.is_honeypot=="1" ?"âœ…":"âš ï¸" %>
                </td>
            </tr>
            <tr>
                <td>Honey pots with same creator </td>
                <td>
                    <%= security.honeypot_with_same_creator=="1" ?"Nil":"âš ï¸" %>
                </td>
            </tr>
            <tr>
                <td>Anti whale</td>
                <td>
                    <%= security.is_anti_whale=="1" ?"âœ…":"âš ï¸"%>
                </td>
            </tr>
            <tr>
                <td>Backlisted</td>
                <td>
                    <%= security.is_blacklisted=="1" ?"âœ…":"âš ï¸"%>
                </td>
            </tr>
            <tr>
                <td>Listed in Dex</td>
                <td>
                    <%= security.is_in_dex=="1" ?"âœ…":"âš ï¸"%>
                </td>
            </tr>
            <tr>
                <td>Mintable</td>
                <td>
                    <%= security.is_mintable=="1" %>
                </td>
            </tr>
            <tr>
                <td>Opensource</td>
                <td>
                    <%= security.is_open_source=="1" ?"âœ…":"âš ï¸" %>
                </td>
            </tr>
            <tr>
                <td>Is a Proxy </td>
                <td>
                    <%= security.is_proxy=="1" %>
                </td>
            </tr>
            <tr>
                <td>Whitelisted</td>
                <td>
                    <%= security.is_whitelisted=="1" ?"âœ…":"âš ï¸" %>
                </td>
            </tr>
            <tr>
                <td>LP Holder Count</td>
                <td>
                    <%= security.lp_holder_count %>
                </td>
            </tr>
            <tr>
                <td>Pencentage owned by creator</td>
                <td>
                    <%= security.creator_percent %>
                </td>
            </tr>
            <tr>
                <td>Creator Balance</td>
                <td>
                    <%= security.creator_balance %>
                </td>
            </tr>
            <tr>
                <td>Creator address</td>
                <td>
                    <%= security.creator_address %>
                </td>
            </tr>
            <tr>
                <td>Holders</td>
                <td>
                    <%= security.holder_count %>
                </td>
            </tr>
        </table>
    </div>
    <div>
        
        <div>
    <h2>Public Functions</h2>
    <table>
        <tr>
            <th>Function Name</th>
            <th>Visibility</th>
            <th>Mutability</th>
        </tr>
        <% for (let i = 0; i < functions.tableRows.length; i++) { %>
            <% if(functions.tableRows[i].type=="func" && functions.tableRows[i].spec!="Internal ðŸ”’"){ %>
            <tr>
                <td><%= functions.tableRows[i].name %></td>
                <td><%= functions.tableRows[i].spec.split(' ')[0] %></td>
                <td><%= functions.tableRows[i].mutating ? "âš ï¸" : 'False' %></td>
            </tr>
            <% } %>
        <% } %>
    </table>
</div>

    </div>
<div>
    <h2>Contracts used</h2>
    <ul>
        <% for (let i = 0; i < functions.tableRows.length; i++) { %>
            <% if(functions.tableRows[i].type=="contract" ){ %>
                <li><%= functions.tableRows[i].name %></li>
                <% } %>

        <% } %>
    </ul>
</div>

</div>

</div>
</div>